<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="sidebar">
    <ul>
        <li><a href="http://localhost:4000/dashboard" ><i class="fas fa-tachometer-alt"></i>  Dashboard</a></li>
        <li><a href="http://localhost:4000/myorder"><i class="fas fa-shopping-cart"></i>  Orders</a></li>
        <li><a href="http://localhost:4000/myprofile"><i class="fas fa-user-edit"></i>  Update Profile</a></li>
        <li><a href="http://localhost:4000/mywallet"><i class="fas fa-wallet"></i>  Wallet</a></li>
        <li><a href="http://localhost:4000/myaddress"><i class="fas fa-map-marker-alt"></i>  My Address</a></li>
        <li><a href="http://localhost:4000/logout"><i class="fas fa-sign-out-alt"></i>  Logout</a></li>
        
    </ul>
</div>

