<!-- Your Navigation Partial -->
 
<nav class="colorlib-nav" role="navigation" style="background-color:#84CBCB; height: 70px;">
    <div class="top-menu" style="padding: 10px 0px 10px 0px;">
        <div class="container">
            <div class="col-sm-7 col-md-9">
                <div id="colorlib-logo">
                    <a href="/">Cosmix</a>
                </div>
            </div>

            <div class="col-sm-5 col-md-3 text-right">
                <ul>
                    <li class="cart">
                        <a href="/">
                            <i class="icon-home"></i>Home
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</nav>


