<div class="sidebar">
    <ul>
        <li><a href="http://localhost:4000/dashboard" >Dashboard</a></li>
        <li><a href="http://localhost:4000/myorder">Orders</a></li>
        <li><a href="http://localhost:4000/myprofile">Update Profile</a></li>
        <li><a href="http://localhost:4000/mywallet">Wallet</a></li>
        <li><a href="http://localhost:4000/myaddress">My Address</a></li>
        <li><a href="http://localhost:4000/mypassword">Change Password</a></li>
        
    </ul>
</div>

