<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<style>
    .sidebar ul li a.active {
  background-color: #84CBCB;
  color: white;
  border-radius: 4px;
  padding: 8px 12px;
}

</style>
<div class="sidebar">
    <ul>
        <li><a href="/dashboard" ><i class="fas fa-tachometer-alt"></i>  Dashboard</a></li>
        <li><a href="/myorder"><i class="fas fa-shopping-cart"></i>  Orders</a></li>
        <li><a href="/myprofile"><i class="fas fa-user-edit"></i>  Update Profile</a></li>
        <li><a href="/mywallet"><i class="fas fa-wallet"></i>  Wallet</a></li>
        <li><a href="/changePassword"><i class="fas fa-key"></i>  Change password</a></li>

        <li><a href="/myaddress"><i class="fas fa-map-marker-alt"></i>  My Address</a></li>
        <li><a href="/logout" onclick="logoutUser()"><i class="fas fa-sign-out-alt"></i>  Logout</a></li>
        
    </ul>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
  const currentPath = window.location.href; // Get full URL
  const sidebarLinks = document.querySelectorAll(".sidebar ul li a");

  sidebarLinks.forEach(link => {
    if (link.href === currentPath) {
      link.classList.add("active");
    }
  });
});

function logoutUser() {
        sessionStorage.clear();
        localStorage.clear();
    }

</script>
