<!-- Your Navigation Partial -->
 
<nav class="colorlib-nav" role="navigation" style="background-color:#84CBCB;">
    <div class="top-menu">
        <div class="container">
            <div class="col-sm-7 col-md-9">
                <div id="colorlib-logo">
                    <a href="http://localhost:4000">Cosmix</a>
                </div>
            </div>

            <div class="col-sm-5 col-md-3 text-right">
                <ul>
                    <li class="cart">
                        <a href="http://localhost:4000">
                            <i class="icon-home"></i>Home
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</nav>


