<div class="footer">
    <div class="footer-container">
        <!-- Top Category -->
        <div class="footer-column">
            <h4>Top Category</h4>
            <ul>
                <li><a href="#">Make Up</a></li>
                <li><a href="#">SkinCare</a></li>
                <li><a href="#">HairCare</a></li>
                <li><a href="#">Bath & Body</a></li>
            </ul>
        </div>

        <!-- Customer Care -->
        <div class="footer-column">
            <h4>Customer Care</h4>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Returns/Exchange</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Customer Services</a></li>
            </ul>
        </div>

        <!-- Information -->
        <div class="footer-column">
            <h4>Information</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Order Tracking</a></li>
            </ul>
        </div>

        <!-- Contact Information -->
        <div class="footer-column">
            <h4>Contact Information</h4>
            <ul>
                <li>Near Anna Nagar, Chennai</li>
                <li>+91 98990 45761</li>
                <li>info@cosmix.com</li>
            </ul>
        </div>

       
    </div>
</div>