<div class="modal" id="updateCategoryModal"></div>
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <p>hi</p>
        <h2>Update Category</h2>
        <form id="updateCategoryForm">
            <label for="categoryName">Category Name:</label>
            <input type="text" id="categoryName" name="categoryName" required>
            
            <label for="categoryDescription">Category Description:</label>
            <textarea id="categoryDescription" name="categoryDescription" required></textarea>
            
            <button type="submit" id="updateCategoryBtn">Update Category</button>
        </form>
    </div>
</div>

